<html lang="en">

<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="src/style/style.css">
</head>

<body ng-app="SliceDash" ng-cloak>
    <div ng-controller="SliceCtrl" ng-cloak>
        <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
            <div flex="25" flex-sm="25" flex-xs="25" layout="column" ng-repeat="item in allOrders | orderBy:'order.date':true">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">#{{item.order.number}}</span>
                            <span class="md-subhead" am-time-ago="item.order.date"></span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-image"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end right">
                        <md-button class="md-primary md-raised" ng-click="showDetails($event, item.phone, item.order.number, item.customer)">
                            Open
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>
    <!-- Order details dialog -->
    <script type="text/ng-template" id="details.tmpl.html">
        <md-dialog aria-label="Order Details" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2><i class="material-icons">shopping_cart</i> ORDER #{{number}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons">power_settings_new</i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <i class="material-icons">schedule</i>
                        <span class="md-title">{{orders.date | date:'dd/mm/yyyy HH:mm'}}</span>
                        <span flex><br/></span>
                        <i class="material-icons">person</i>
                        <span class="md-subheading">{{customer}}</span>
                        <span flex><br/></span>
                        <i class="material-icons">phone_in_talk</i>
                        <span class="md-subheading">+{{phone}}</span>
                        <span flex><br/></span>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="pizza in orders.pizza">
                                <span class="md-avatar"><span class="md-display-3">{{pizza.quantity}}</span><span class="md-title">X</span></span>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ pizza.name }}</h3>
                                    <h4>Crust: {{ pizza.crust }}</h4>
                                    <p>{{ pizza.itemPrice | currency:'IDR ':0}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        </span>
                        <span flex></span>
                        <span class="md-headline">Total:</span>
                        <br/>
                        <span class="md-display-1">{{orders.total | currency:'IDR ':0}}</span>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="answer('sign')" ng-disabled="true">
                        <i class="material-icons">delete</i> Delete
                    </md-button>
                    <md-button ng-click="answer('delete')" style="margin-right:20px;" ng-disabled="true">
                        <i class="material-icons">assignment_ind</i> Sign a courier
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- App's scripts -->
    <script src="src/app.js"></script>
    <script src="src/service.js"></script>
    <script src="src/controller.js"></script>
</body>

</html>
