@font-face {
    font-family: 'avenir_black';
    src: url('../fonts/avenir/Avenir-Black.otf');
}

@font-face {
    font-family: 'avenir_medium';
    src: url('../fonts/avenir/Avenir-Medium.otf');
}

@font-face {
    font-family: 'avenir_light';
    src: url('../fonts/avenir/Avenir-Light.otf');
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 80%;
}

html.text-large {
    font-size: 100%;
}

html.text-small {
    font-size: 60%;
}

body {
    font-family: 'avenir_light'!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #f0f0f0;
}

.nav-wrapper {
    background-color: #444;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #c52431
}

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}

.dialogdemoBasicUsage .footer,
.dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}


/* Angular crop me  */
#cropme-ok {
    display: none;
}