<div class="col s12 m12 l12">
    <div class="row">
        <div class="col s12 m6 l4" ng-repeat="item in menu" ng-if="menu.length > 0">
            <a href="" ng-click="details(item._id)">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="responsive" src="{{item.image}}" />
                        <span class="card-title right">
                            <span ng-if="item.published == true"><i class="material-icons medium teal-text text-lighten-1">check_circle</i></span>
                        <span ng-if="item.published == false"><i class="material-icons medium red-text text-lighten-1">pause_circle_filled</i></span>
                        </span>
                    </div>
                    <div class="card-content grey darken-4 center">
                        <p class="flow-text">
                            <span class="white-text"><small>{{item.name | uppercase}}</small></span>
                        </p>
                    </div>
                </div>
            </a>
            <!-- ITEM DETAILS MODAL -->
            <div id="details_{{item._id}}" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <span class="badge right" ng-if="item.published == true">
                            <i class="material-icons medium teal-text text-lighten-1 hide-on-small-only">check_circle</i><br/>
                            <small class="teal-text text-lighten-1">PUBLISHED</small>
                        </span>
                    <span class="badge right" ng-if="item.published == false">
                            <i class="material-icons medium red-text text-lighten-1 hide-on-small-only">pause_circle_filled</i><br/>
                            <small class="red-text text-lighten-1">UNPUBLISHED</small>
                        </span>
                    <p class="flow-text">
                        <span class="card-title grey-text text-darken-4">{{item.name | uppercase}}
                        <br/>
                        <small>
                            <span class="grey-text">Selling Price</span> {{item.price | currency:"IDR ":0}}
                        </small>
                        </span>
                        <p>{{item.description}}</p>
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h5>Ingredients</h5></li>
                            <li class="collection-item" ng-repeat="ingredient in item.ingredients"><i class="material-icons teal-text left">check</i>{{ingredient.label}}</li>
                        </ul>
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h5>Crust Types</h5></li>
                            <li class="collection-item" ng-repeat="crust in item.crusts"><i class="material-icons teal-text left">check</i>{{crust.label}}</li>
                        </ul>
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h5>Available Size</h5></li>
                            <li class="collection-item" ng-repeat="size in item.sizes"><i class="material-icons teal-text left">check</i>{{size | uppercase}}</li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="" class="modal-action modal-close waves-effect waves-grey btn-flat left" ng-click="confirm(item._id)"><i class="material-icons grey-text left">delete</i></a>
                    <a href="" class="modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
                    <a href="" class="modal-action modal-close waves-effect waves-grey btn-flat" ng-click="publish(item._id)" ng-if="item.published == false">Publish</a>
                    <a href="" class="modal-action modal-close waves-effect waves-grey btn-flat" ng-click="publish(item._id)" ng-if="item.published == true">Un-publish</a>
                    <a href="" class="waves-effect waves-grey btn-flat disabled">Edit</a>
                </div>
            </div>
            <!-- CONFIRM MODAL -->
            <div id="confirm_{{item._id}}" class="modal">
                <div class="modal-content">
                    <p class="flow-text center">Are you sure want to delete {{item.name | uppercase}} from the menu?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
                    <a href="" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="delete(item._id)">Yes, delete it</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12" ng-if="menu.length < 1">
            <p class="flow-text center-align grey-text">There is no item yet...</p>
        </div>
    </div>
</div>
<!-- ADD PIZZA MODAL -->
<div id="add-item-modal" class="modal modal-fixed-footer hide-on-small-only" style="width:65%!important;">
    <div class="modal-content">
        <h4 class="grey-text">Add New Pizza</h4>
        <form novalidate>
            <div class="row">
                <!-- Left pane -->
                <div class="row">
                    <div class="input-field col s7">
                        <input id="name" type="text" ng-model="pizza.name" style="font-size:2rem;" capitalize-first>
                        <label for="name">NAME</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="price" type="text" class="validate" ng-model="pizza.price" style="font-size:2rem;" ui-money-mask="0">
                        <label for="price">PRICE</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea" length="500" ng-model="pizza.description" style="font-size:1.3rem;"></textarea>
                        <label for="description">ITEM DESCRIPTION</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6" style="padding-left: 0;">
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="grey-text" style="padding-bottom:10px">CRUSTS <i class="material-icons tooltipped right" data-position="top" data-delay="50" data-tooltip="Multiple crusts are available. Click on crust name to remove.">help</i></div>
                                <oi-select id="crust" oi-options="item.label for item in crusts track by item.id" ng-model="pizza.crust" multiple placeholder="Click to add crust" oi-select-options="{closeList: false, maxlength: 0}" required></oi-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="grey-text" style="padding-bottom:10px">INGREDIENTS <i class="material-icons tooltipped right" data-position="top" data-delay="50" data-tooltip="Multiple ingredients are available. Click on ingredient name to remove.">help</i></div>
                                <oi-select id="ingredient" oi-options="item.label for item in ingredients track by item.id" ng-model="pizza.ingredient" multiple placeholder="Click to add ingredient" oi-select-options="{closeList: false, maxlength: 0}" required></oi-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="grey-text">AVAILABLE SIZES</div>
                                <multi-check ng-model="pizza.size" style="font-size:1.2rem;">
                                    <multi-check-item ng-repeat="size in sizes" value="{{size.name}}">{{size.label}}</multi-check-item>
                                </multi-check>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <div class="grey-text" style="padding-bottom:10px;">IMAGE<i class="material-icons tooltipped right" data-position="top" data-delay="50" data-tooltip="Pizza image ratio must be 0.62:1. Recommended size is 800x1300. To remove, hit on Remove button">help</i></div>
                        <cropme width="100%" height="240" ratio="0.62:1" type="png" destination-width="800" destination-width="1300" cancel-label="Remove">
                        </cropme>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="red-text text-darken-2 left" ng-bind="errorMsg"></span>
        <a href="" class="btn-flat" ng-click="save(pizza)">Save</a>
        <a href="" class="modal-action modal-close btn-flat">Cancel</a>
    </div>
</div>
<!-- ADD PIZZA MODAL (MOBILE) -->
<div id="add-item-mobile-modal" class="modal bottom-sheet hide-on-med-and-up" style="max-height: 100%!important;width: 100%!important;">
    <div class="modal-content">
        <h4 class="grey-text">Add New Pizza</h4>
        <form novalidate>
            <div class="row">
                <!-- Left pane -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" ng-model="pizza.name" style="font-size:1.5rem;" capitalize-first>
                        <label for="name">NAME</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <div class="grey-text">AVAILABLE SIZES</div>
                        <multi-check ng-model="pizza.size" style="font-size:1.2rem;">
                            <multi-check-item ng-repeat="size in sizes" value="{{size.name}}">{{size.label}}</multi-check-item>
                        </multi-check>
                    </div>
                    <div class="input-field col s6">
                        <input id="price" type="text" class="validate" ng-model="pizza.price" style="font-size:1.5rem;" ui-money-mask="0">
                        <label for="price">PRICE</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea" length="500" ng-model="pizza.description" style="font-size:1.3rem;"></textarea>
                        <label for="description">ITEM DESCRIPTION</label>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="grey-text" style="padding-bottom:10px">CRUSTS <i class="material-icons tooltipped right" data-position="top" data-delay="50" data-tooltip="Multiple crusts are available. Click on crust name to remove.">help</i></div>
                            <oi-select id="crust" oi-options="item.label for item in crusts track by item.id" ng-model="pizza.crust" multiple placeholder="Click to add crust" oi-select-options="{closeList: false, maxlength: 0}" required></oi-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="grey-text" style="padding-bottom:10px">INGREDIENTS <i class="material-icons tooltipped right" data-position="top" data-delay="50" data-tooltip="Multiple ingredients are available. Click on ingredient name to remove.">help</i></div>
                            <oi-select id="ingredient" oi-options="item.label for item in ingredients track by item.id" ng-model="pizza.ingredient" multiple placeholder="Click to add ingredient" oi-select-options="{closeList: false, maxlength: 0}" required></oi-select>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div class="grey-text" style="padding-bottom:10px;">IMAGE<i class="material-icons tooltipped right" data-position="top" data-delay="50" data-tooltip="Pizza image ratio must be 0.62:1. Recommended size is 800x1300. To remove, hit on Remove button">help</i></div>
                        <cropme width="100%" height="240" ratio="0.62:1" type="png" destination-width="800" destination-width="1300" cancel-label="Remove">
                        </cropme>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="red-text text-darken-2 left" ng-bind="errorMsg"></span>
        <a href="" class="btn-flat" ng-click="save(pizza)">Save</a>
        <a href="" class="modal-action modal-close btn-flat">Cancel</a>
    </div>
</div>
<!-- INGREDIENTS MODAL -->
<div id="ingredients-modal" class="modal hide-on-small-only" style="width:65%!important;">
    <div class="modal-content">
        <h4 class="grey-text">Ingredients Database</h4>
        <ul class="collection">
            <li class="collection-item avatar" ng-repeat="item in ingredients" ng-if="ingredients.length > 0">
                <img src="{{item.image}}" alt="" class="circle">
                <span class="title">{{item.label}}</span>
                <p class="flow-text">
                    <span class="grey-text"><small>Added</small></span>{{item.created | date:"dd MMM yyyy, HH:mm"}}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item" ng-if="ingredients.length < 1">
                <p class="flow-text center">
                    <span class="grey-text"><small>No data yet.<br/>Click sign below to add one..</small></span>
                    <br/>
                    <br/>
                    <a href="" ng-click="openAddIngredient()"><i class="material-icons large grey-text">add</i></a>
                </p>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close btn-flat">Close</a>
    </div>
</div>
<!-- ADD INGREDIENTS MODAL -->
<div id="add-ingredients-modal" class="modal hide-on-small-only">
    <div class="modal-content">
        <h4 class="grey-text">Add Ingredient</h4>
        <form novalidate>
            <div class="row">
                <!-- Left pane -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" ng-model="ingredient.name" style="font-size:2rem;" capitalize-first>
                        <label for="name">NAME</label>
                        <span class="grey-text right"><small>label: </small><strong>{{label}}</strong></span>
                        <input type="hidden" ng-value="{{label}}" ng-model="ingredient.label">
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>Browse Image File</span>
                            <input type="file" id="fileInput">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center cropArea">
                        <img-crop image="ingImage" result-image="ingCroppedImage" area-type="square"></img-crop>
                        <div class="grey-text"><small>CAUTION! Only image inside the cropped area that will be uploaded</small></div>
                        <input type="hidden" ng-value="{{ingCroppedImage}}" ng-model="ingredient.image">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="" class="btn-flat" ng-click="saveIngredient(ingredient)">Save</a>
        <a href="" class="modal-action modal-close btn-flat" ng-click="closeAddIngredient()">Cancel</a>
    </div>
</div>
<!--Floating button-->
<div class="fixed-action-btn horizontal" style="bottom: 20px; right: 20px;">
    <a class="btn-floating btn-large grey darken-4">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating yellow darken-3" ng-click="refresh()"><i class="material-icons">refresh</i></a></li>
        <li><a href="" ng-click="openIngredientsModal()" class="btn-floating red darken-2"><i class="material-icons">local_pizza</i></a></li>
        <li>
            <a href="" ng-click="openAddModal('desktop')" class="btn-floating grey darken-2 hide-on-small-only"><i class="material-icons">add</i></a>
            <a href="" ng-click="openAddModal('mobile')" class="btn-floating grey darken-2 hide-on-med-and-up"><i class="material-icons">add</i></a>
        </li>
        <li><a href="" ng-click="release()" class="btn-floating grey darken-2"><i class="material-icons">cloud_upload</i></a></li>
    </ul>
</div>
