<div class="col s12 m6 l3" ng-repeat="item in allOrders | orderBy:'order.date':true">
    <div id="{{item.order.number}}" class="card">
        <div class="card-content row">
            <div class="col s3 center-align">
                <i class="medium material-icons" style="color:#c52431;">access_time</i>
            </div>
            <div class="col s5 center-align">
                <i class="medium material-icons" style="color:#9e9e9e;">person</i>
            </div>
            <div class="col s4 center-align">
                <i class="medium material-icons" style="color:#9e9e9e;">phone</i>
            </div>
            <div class="col s3 center-align" capitalize>
                <h6 am-time-ago="item.order.date" style="color:#c52431;"></h6>
            </div>
            <div class="col s5 center-align">
                <h6>{{item.customer | uppercase}}</h6>
            </div>
            <div class="col s4 center-align">
                <h6>{{item.phone}}</h6>
            </div>
            <ul class="col s12 collection with-header">
                <li class="collection-header center-align">
                    <h4>
                            <small>ORDER </small> #<strong>{{item.order.number}}</strong>
                        </h4>
                </li>
                <li class="collection-item" ng-repeat="pizza in item.order.pizza">
                    <div class="row valign-wrapper">
                        <div class="col s2 valign">
                            <h1>{{pizza.quantity}}</h1>
                        </div>
                        <div class="col s10 valign">
                            <blockquote>
                                <h6><strong>{{pizza.name | uppercase}}</strong></h6> Crust: {{pizza.crust | uppercase}}
                                <br/> Price: {{pizza.itemPrice | currency:'IDR ':0}}
                                <br/>
                                <span ng-if="pizza.request">Request:  <strong style="color:#c52431;">{{pizza.request | uppercase}}</strong></span>
                            </blockquote>
                        </div>
                    </div>
                </li>
                <!--<li class="collection-item center-align">
                            <h6 class="grey-text">Delivery Address </h6>
                            <h5>
                            {{item.order.delivery.drop_address}} {{item.order.delivery.drop_address_number}}
                        </h5>
                        </li>-->
                <li class="collection-footer center-align">
                    <h5 class="red-text"><i class="material-icons red-text">query_builder</i> BEING COOKED</h5>
                </li>
            </ul>
            <div class="col s12 right-align">
                <h6>Total Pay</h6>
                <h4><small>IDR </small> {{item.order.total | currency:'':0}}</h4>
            </div>
        </div>
        <div class="card-action center-align row">
            <a class="waves-effect waves-light btn grey" ng-click="delete(item.phone, item.order.number)"><i class="material-icons left">delete</i>delete</a>
            <a class="activator waves-effect waves-light btn"><i class="material-icons right">local_shipping</i>dispatch</a>
        </div>
        <!-- Modal Structure -->
        <div class="card-reveal">
            <div class="modal-content">
                <div class="card-title row right-align">
                    <i class="material-icons col s12">keyboard_arrow_down</i>
                </div>
                <div class="row">
                    <span class="col s12"><img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{item.order.delivery.latitude}},{{item.order.delivery.longitude}}&zoom=15&size=300x200&maptype=roadmap&markers=color:red%7Clabel:D%7C{{item.order.delivery.latitude}},{{item.order.delivery.longitude}}" style="width:100%;"/></span>
                    <span class="col s12"><h6 class="grey-text">Delivery Address</h6><h5>{{item.order.delivery.drop_address}} {{item.order.delivery.drop_address_number}}</h5></span>
                    <span class="col s12" ng-if="item.order.delivery.additional_address"><h6 class="grey-text">Additional Direction / Info</h6><h5>{{item.order.delivery.additional_address}}</h5></span>
                </div>
                <div class="row divider"></div>
                <div class="row left-align">
                    <span class="col s12">
                        <a class="waves-effect waves-light btn center-align teal" ng-click="assign(item.phone, item.order.number)">Assign a courier</a>
                      </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Floating button-->
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large yellow darken-2">
        <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
        <li><a class="btn-floating yellow darken-2" ng-click="refresh()"><i class="material-icons">refresh</i></a></li>
        <li><a href="#" class="btn-floating red darken-2"><i class="material-icons">query_builder</i></a></li>
        <li><a href="#dispatched" class="btn-floating teal"><i class="material-icons">local_shipping</i></a></li>
        <li><a href="#completed" class="btn-floating blue darken-2"><i class="material-icons">done</i></a></li>
    </ul>
</div>
