<div class="col s12 m12 l12">
    <div class="col s6 m6 l6">
        <h4><span class="grey-text">Current Version:</span>  {{ version }}</h4>
        <h5><span class="grey-text">Pizza Items:</span> {{ num }}</h5>
        <h5><span class="grey-text" ng-if="release != ''">Released:</span> {{ release }}</h5>
    </div>
    <div class="col s6 m6 l6 right-align" style="padding-top:10px;">
        <a class="waves-effect waves-light btn teal darken-1" href="#add"><i class="material-icons left">add_circle</i>Add Pizza Item</a>
        <a class="waves-effect waves-light btn grey darken-1">Update Menu<i class="material-icons right">cloud_upload</i></a>
    </div>
    <div class="col s12 m12 l12">
        <div class="row">
            <div class="card col s12 m4 l3" ng-repeat="item in data" ng-show="num > 0">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card col s12 m4 l3" ng-repeat="item in data" ng-hide="num > 0">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
</div>
